body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calendar {
    
    text-align: center;
  }
  
  .weekdays {
    display: flex;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .weekday {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day {
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .day:hover {
    background-color: #e6e6e6;
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
  }
  
  .today {
    background-color: #c0e4ff;
    border: 2px solid #4285f4; /* Borda mais destacada para o dia atual */
  }
  
  .selected {
    background-color: #aaffa8;
    border: 2px solid #34a853; /* Borda mais destacada para o dia selecionado */
  }
  
  .sunday {
    color: #d9534f; /* Cor para destacar os domingos */
  }
  
  .saturday {
    color: #4285f4; /* Cor para destacar os sábados */
  }
  